body {

    margin: auto;
    width: auto;
    font-family:'Roboto Slab', serif;
}

p {
  font-family:'Roboto Slab', serif;
}

header {
    background-color: #F7F7F7;
}

header nav {
    float: right;
}

nav a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 15px;
    margin-top: 40px;
    right:15px;
    color: #646a72;
    position: relative;
    right:40px;

}

nav, a {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out .5s;
}

nav

a:hover {
  color: #a04635;
  border-color: #a04635;

}

header img {

    width: 300px;
    height: 100px;
    padding: 15px;
    margin-left: 170px;
    margin-top: 20px;
    padding-bottom: 30px;

}

.aboutMePic {
  width: 350px;
  height: 350px;
}


article {
    background-color: #65BEB4;
    height: auto;
    text-align: center;
}

article img {
    width:100px;
    height:100px;
    margin-top: 80px;

}

article p {

    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 50px;
    width: 80%;
    padding-bottom:170px;
    text-align: center;
}

span {
  color:yellow;
}


@media screen and (max-width: 960px) {
    nav a {
        display: block;
    }
}
